<%- include ../../partials/header %>
<%- include ../../partials/navbar %>
<%- include ../../partials/sidebar %>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Product</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item"><a href="/product">Product</a></li>
              <li class="breadcrumb-item active">Edit Product</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
  
    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card card-warning">
              <div class="card-header">
                <h3 class="card-title">
                    Edit Product
                </h3>
              </div>
              <!-- /.card-header -->
              <form action="/product/edit/<%= product._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="card-body">
                  <div class="form-group">
                    <label for="nameProduct">Name Product</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Input name furniture" value="<%= product.name %>" required>
                  </div>

                  <div class="form-group">
                    <label>Categories</label>
                    <select class="form-control select2" style="width: 100%;" name="categories">
                      <option selected="selected">Select Categories</option>
                      <% categories.forEach(categories=>{ %>
                        <option value="<%= categories._id %>"
                            <% if(categories._id.toString() === product?.categories?._id.toString()) { %>
                                selected
                            <% } %>
                            >
                            <%= categories.name %> </option>
                      <% }) %>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="price">Price</label>
                    <input type="number" name="price" class="form-control" id="price" placeholder="Input Price" value="<%= product.price %>" required>
                  </div>

                  <div class="form-group">
                    <label for="rating">Rating</label>
                    <input type="text" name="rating" class="form-control" id="rating" placeholder="Input rating" value="<%= product.rating %>" required>
                  </div>

                  <div class="form-group">
                    <label for="review">Review</label>
                    <input type="number" name="review" class="form-control" id="review" placeholder="Input total reviews" value="<%= product.review %>" required>
                  </div>

                  <div class="form-group">
                    <label>Description</label>
                    <textarea class="form-control" name="description" id="description" rows="3" maxlength="1200" placeholder="Enter your description" required><%= product.description%></textarea>
                  </div>

                  <div class="form-group">
                    <label>Colors</label>
                    <div class="select2-yellow">
                      <select
                      class="form-control js-example-basic-multiple"
                      multiple="multiple"
                        style="width: 100%"
                        data-placeholder="Pilih Nominal"
                        name="colors"
                        required  
                      >
                        <% colors.forEach(colors=>{ %>
                        <option value="<%= colors._id %>"
                            <% product.colors.forEach(productList =>{ %>
                                <% if(colors._id.toString() === productList._id.toString()) { %>
                                    selected
                               <% } %>
                            <% }) %>
                          >
                          <%= colors.name%>
                        </option>
                        <% }) %>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="image">Create Image</label>
                    <input
                      type="file"
                      name="image"
                      class="form-control"
                      id="image"
                      placeholder="Create Image"
                    />
                    <br>
                    <img width="20%" src="http://localhost:3000/uploads/<%= product.thumbnail %>" style="border-radius: 20px;" id="perview">
                  </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-warning">Edit</button>
                </div>
              </form>
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <%- include ../../partials/footer %>
  <%- include ../../partials/js %>

  <script>
    function readURL (input){
      if(input.files && input.files[0]){
        const reader = new FileReader();
  
        reader.onload = function(e){
          $('#perview').attr('src', e.target.result);
          $('#perview').attr('width', '20%');
          $('#perview').attr('height', '20%');
        }
        reader.readAsDataURL(input.files[0])
      }
    }
  
    $('#image').change(function(){
      readURL(this)
    })
  </script>